annotated-types==0.6.0
anyio==4.3.0
asgiref==3.7.2
beautifulsoup4==4.12.3
CacheControl==0.13.1
cachetools==5.3.2
certifi==2023.11.17
cffi==1.16.0
charset-normalizer==3.3.2
cryptography==41.0.7
deprecation==2.1.0
distro==1.9.0
Django==4.2.9
django-cors-headers==4.3.1
exceptiongroup==1.2.0
firebase-admin==6.3.0
google==3.0.0
google-ai-generativelanguage==0.4.0
google-api-core==2.15.0
google-api-python-client==2.114.0
google-auth==2.26.2
google-auth-httplib2==0.2.0
google-cloud-core==2.4.1
google-cloud-firestore==2.14.0
google-cloud-storage==2.14.0
google-crc32c==1.5.0
google-generativeai==0.3.2
google-resumable-media==2.7.0
googleapis-common-protos==1.62.0
gotrue==2.4.2
grpcio==1.60.0
grpcio-status==1.60.0
h11==0.14.0
httpcore==1.0.5
httplib2==0.22.0
httpx==0.27.0
idna==3.6
msgpack==1.0.7
numpy==1.26.3
openai==1.14.3
packaging==24.0
pandas==2.2.1
patsy==0.5.6
pinecone-client==3.0.1
postgrest==0.16.2
proto-plus==1.23.0
protobuf==4.25.2

pyasn1==0.5.1
pyasn1-modules==0.3.0
pycparser==2.21
pydantic==2.6.4
pydantic_core==2.16.3
PyJWT==2.8.0
pyparsing==3.1.1
python-dateutil==2.9.0.post0
python-dotenv==1.0.0
pytz==2024.1
realtime==1.0.3
requests==2.31.0
rsa==4.9
scipy==1.12.0
six==1.16.0
sniffio==1.3.1
soupsieve==2.5
sqlparse==0.4.4
statsmodels==0.14.1
storage3==0.7.4
StrEnum==0.4.15
supabase==2.4.1
supafunc==0.4.5
tqdm==4.66.1
typing_extensions==4.9.0
tzdata==2024.1
uritemplate==4.1.1
urllib3==2.1.0
websockets==12.0
